{% extends '_base.html' %}

	{% block contain %}
        
		<h3>What are you doing today?</h3>
		<form action="/" method="post">
		<p>
			{% csrf_token %}
			{{ form.title }}
			<button type="submit">Add</button>
		</p>
		
		</form>

		<h3>Todo</h3>
		<!-- To do list items  -->
		<ul id="incomplete-tasks" class="drop-items" >
			{% for items in tasks %}
			<li>
			<label>{{ items.title }}</label>
			<button class="edit" onclick="document.location='{% url 'update' items.id %}'">Edit</button>
			<button class="delete" onclick="document.location='{% url 'delete_task' items.id %}'">Delete</button>
			<small style="margin:6px; padding:2px;">Added at {{ items.created }}</small>
			
			</li>
			{% endfor %}
		
		<h3>Completed</h3>
		<ul id="completed-tasks" class="drop-completed">
		{% if items.complete %}
			<li>
				<input type="checkbox" checked>

				<label>{{ items.title }}</label>
			<button class="edit" onclick="document.location='{% url 'update' items.id %}'">Edit</button>
			<button class="delete" onclick="document.location='{% url 'delete_task' items.id %}'">Delete</button>

			</li>
        {% endif %}
		</ul>
		</ul> 

	</div>
	
    {% endblock contain %}